@font-face {
  font-family: Montserrat;
  src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
  font-style: italic;
}

@font-face {
  font-family: Raleway;
  src: url('/fonts/Raleway/Raleway-VariableFont_wght.ttf');
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  src: url('/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf');
  font-style: italic;
}