@use 'fonts';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
  }

  h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
  }

  body{
    @apply bg-alt-gray-primary;
  }

  a{
    @apply text-aero-400;
  }
  .container{
    @apply px-4;
  }
}

* {
  overflow-x: hidden;
}


main{
  background-size: 50px !important;
}

