body {
  min-height: 100vh;
  background-color: #e499ff;
  background-image: -o-radial-gradient(
      at 5% 12%,
      hsla(235, 100%, 70%, 1) 0px,
      transparent 50%
    ),
    -o-radial-gradient(at 94% 31%, hsla(283, 100%, 70%, 1) 0px, transparent 50%),
    -o-radial-gradient(at 81% 80%, hsla(240, 100%, 70%, 1) 0px, transparent 50%),
    -o-radial-gradient(at 53% 27%, hsla(261, 100%, 70%, 1) 0px, transparent 50%),
    -o-radial-gradient(at 7% 82%, hsla(264, 100%, 70%, 1) 0px, transparent 50%);
  background-image: radial-gradient(
      at 5% 12%,
      hsla(235, 100%, 70%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 94% 31%, hsla(283, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 81% 80%, hsla(240, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 53% 27%, hsla(261, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 7% 82%, hsla(264, 100%, 70%, 1) 0px, transparent 50%);
}

.wrapper1 {
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info {
  display: flex;
  width: 80vw;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.aboutwrapper a {
  text-decoration: none;
}

.about {
  width: 80vw;
}

.aboutwrapper p {
  font-size: 2.5vh;
  font-weight: 500;
}

.aboutwrapper h1 {
  margin: 2rem 0 1rem 0;
  font-size: 4vh;
}

.aboutwrapper h2 {
  font-weight: 500;
}

.aboutwrapper p {
  margin: 0.4rem 0;
}


@media only screen and (max-width: 650px) {

  .wrapper1 p {
    font-size: 16px;
  }

  .wrapper1 h1 {
    font-size: 28px;
  }

  .info div {
    margin: 0;
  }
}