//  colors
//    general
$bg-color: rgb(0, 50, 107);
$text-color: rgb(255, 255, 255);
$secondary-bg-color: rgb(0, 30, 65);
//    footer
$footer-button-color: rgb(0, 39, 84);
$footer-button-color-hover: rgba(0, 39, 84, 0.4);
