@use "vars";
$header_height: 4rem;


.main{
    width: 100vw;
    height: 4rem;
    background-color: vars.$secondary-bg-color;
    box-shadow: 0 0 15px 5px rgba(0, 35, 74, 0.5);
    z-index: 10;
    ul{
        height: inherit;
        float: right;
        margin: 0 1rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        li{
            width: max-content;
            margin-right: 5rem;
            a{
                color: vars.$text-color;
                text-transform: uppercase;
            }
        }
    }
}

.logo{
    float: left;
    height: inherit;
    margin-left: 1rem;
    display: flex;
    align-content: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .main ul{
        width: 100%;
        margin: 0;
        li{
            margin: 0;
        }
    }

    .logo{
        display: none;
    }
}