.main{
  margin-top: 5rem;
  height: 100vh;
}

.posts{
  display: flex;
  flex-wrap: wrap;
  .post{
    width: 25rem;
    height: 10rem;
    margin: 1rem 1rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
  }
}