@use 'vars';

.main{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 228px);
  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    position: relative;
    h1{
      font-size: 18vw;
      //font-size: calc(16px + 15vw);
      margin-bottom: 3rem;
      @media (min-width: 1000px){
        font-size: 180px;
      }
    }
    p{
      font-size: 24px;
      text-align: center;
      margin-bottom: 3rem;
      @media (max-width: 300px) {
        font-size: 20px;
      }
    }
    a:first-child{
      background-color: rgb(0, 68, 162);
      color: #eeeeee;
      padding: 16px;
      font-size: 20px;
      border-radius: 10px;
      filter: brightness(.3);
      &.active{
        filter: none;
        transition: filter 100ms;
        &:hover {
          filter: brightness(.9);
        }
      }
    }
    a:last-child{
      margin-top: 2rem;
      font-size: 20px;
      text-decoration: underline;
    }
    .countdown{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 40px;
      &.disabled{
        display: none;
      }
    }
  }
}