.main{
  height: calc(100vh - 4rem);
}

.projects{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0 0 0;
}

.project{
  width: 100%;
  height: auto;
  margin: 1rem 0;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  gap: 3rem;

  span{
    position: relative;
    width: 250px;
    height: 250px;
    border: 10px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 450px;
    align-items: center;

    h1{
      margin: 0 0 1.5rem 0;
    }

    p{
      width: 90%;
      text-align: left;
      font-size: 20px;
    }
  }
}